/* --- Header --- */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 100px 50px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 30px;
  padding-inline-start: 0;
  list-style: circle;
}

.header__links-list li:first-child {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  color: #000000;
}

.header__link:active {
  text-decoration: none;
}

.header__link:hover {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  font-style: normal;
}

.header__address {
  align-items: flex-start;
}

/* --- Cover --- */
.cover {
  position: relative;

  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: #ffffff;
}

.cover__title {
  padding: 165px 50px 207px 50px;

  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

/* .letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
} */

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  font-size: 22px;
}

.cover__description-text {
  letter-spacing: 5px;
  font-weight: 400;
}

.bet-button {
  padding: 12px 32px;
  font-weight: 500;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}
