h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
} 

/* --- Header --- */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 100px 50px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 30px;
  padding-inline-start: 0;
  list-style: circle;
}

.header__links-list li:first-child {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  color: #000000;
}

.header__link:active {
  text-decoration: none;
}

.header__link:hover {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  font-style: normal;
}

.header__address {
  align-items: flex-start;
}

/* --- Cover --- */
.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: #ffffff;
}

.cover__title {
  padding: 165px 50px 207px 50px;

  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

/* .letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
} */

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  font-size: 22px;
}

.cover__description-text {
  word-spacing: 20px;
  font-weight: 400;
}

.bet-button {
  padding: 12px 32px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}

/* --- Lots --- */
.lots {
  margin-top: 180px;
}

.lots__card-list {
  display: flex;
margin-bottom: 30px;
  gap: 25px;
}

.lots__card-list-item {
  flex: 1;
}

.card-link {
  cursor: pointer;
}

.card {
  position: relative;
  height: 723px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  position: relative;
  text-decoration: underline;

  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  color: #ffffff;
  z-index: 1;
}

.card__text {
  position: relative;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  text-decoration: none;
  z-index: 1;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-decoration: underline;
}

/* --- About --- */
.about {
  margin-top: 180px;
} 

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about__logo {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: #000000;
}

.about__logo-image {
  position: absolute;
  top: 25%;
  height: 114px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

