.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 100px 50px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 30px;
  padding-inline-start: 0;
  list-style: circle;
}

.header__links-list li:first-child {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  color: #000000;
}

.header__link:active {
  text-decoration: none;
}

.header__link:hover {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  font-style: normal;
}

.header__address {
  align-items: flex-start;
}
