h2 {
  font-size: 40px;
  font-weight: 700;
  padding-left: 64px;
  text-transform: uppercase;
}

/* --- Header --- */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 89px 50px 94px 50px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item::marker {
  font-size: 20px;
}

.header__links-list li:first-child {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  color: #000000;
}

.header__link:active {
  text-decoration: none;
}

.header__link:hover {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 138px;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 239px;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  justify-self: end;
}

/* --- Cover --- */
.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: #ffffff;
}

.cover__title {
  padding: 162px 50px 141px 50px;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
  /* padding-left: 27px;
    padding-top: 19px; */
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-size: 22px;
}

.cover__description-text {
  word-spacing: 19px;
  font-weight: 400;
}

.bet-button {
  padding: 12px 32px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}

/* --- Lots --- */
.lots {
  margin-top: 180px;
}

.lots__card-list {
  padding: 24px;
  display: flex;
  margin-bottom: 9px;
  gap: 25px;
}

.lots__card-list-item {
  flex: 1;
}

.card-link {
  cursor: pointer;
}

.card {
  position: relative;
  height: 596px;
  padding: 51px 40px 46px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  position: relative;
  text-decoration: underline;

  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  color: #ffffff;
  z-index: 1;
}

.card__text {
  position: relative;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  text-decoration: none;
  z-index: 1;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 64px;
  text-decoration: underline;
}

/* --- About --- */
.about {
  margin-top: 154px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about__logo {
  position: relative;
  margin-left: 71px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: #000000;
}

.about__logo-image {
  position: absolute;
  top: 25%;
  height: 118px;
}

.about__content {
  padding-top: 100px;
}

.about__text {
  display: flex;
  font-size: 20px;
  margin-top: 100px;
  flex-direction: column;
  gap: 24px;
}

/* --- About --- */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 180px 50px 82px 50px;
}

.footer__address {
  justify-self: start;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-list-item {
}

.footer__menu-link {
}

.footer__menu-link_active {
  text-decoration: underline;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
}
