/* --- Header --- */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 93px 50px 91px 50px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 30.1px;
  list-style: circle;
  align-items: baseline;
  margin-bottom: 8px;
  letter-spacing: 0.3px;
}

.header__links-list li:first-child {
  list-style: none;
  letter-spacing: 0;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #000000;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 136px;
}

.address-block {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 1.35;
}

.address-block__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.address-block--header {
  justify-self: end;
  max-width: 240px;
  margin-bottom: 8px;
}

/* --- Cover --- */
.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: #ffffff;
}

.cover__title {
  padding: 164px 50px 104px 50px;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  flex: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  line-height: 152px;
}

.aligned-text_right {
  text-align: right;
  line-height: 118px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px 50px;
  font-size: 22px;
}

.cover__description-text {
  word-spacing: 18.5px;
  font-weight: 400;
}

.bet-button {
  padding: 12px 32px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}

/* --- Lots --- */
.lots {
  margin-top: 180px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  padding-left: 64px;
  text-transform: uppercase;
}

.lots__card-list {
  margin: 27px 24px 30px 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lots__card-list-item {
  list-style: none;
}

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__link {
  display: flex;
  flex-direction: column;
  min-height: 596px;
  padding: 48px 40px;
  justify-content: space-between;
  position: relative;
  text-decoration: none;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  text-decoration: underline;

  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  color: #ffffff;
  z-index: 1;
}

.card__text {
  position: relative;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  text-decoration: none;
  z-index: 1;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 64px;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #000000;
}

/* --- About --- */
.about {
  margin-top: 154px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-left: 15px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: #000000;
}

.about__logo-image {
  height: auto;
  max-width: 148px;
}

.about__heading {
  font-size: 40px;
  font-weight: 700;
  margin: 101px 18px 100px 16px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  gap: 25px;
  margin-left: 16px;
  margin-right: 27px;
  line-height: 24px;
}

/* --- Footer --- */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 181px 50px 82px 50px;
}

.address-block--footer {
  color: #000000;
  line-height: 1.5;
  letter-spacing: 0.98px;
  justify-self: start;
  max-width: 360px;
}

.footer__menu {
  justify-self: center;
  line-height: 1.23;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
  color: #000000;
  text-underline-offset: 4px;
}

.footer__menu-link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}
